.message-list__index{data: {message: {id: message.id}}}
  .message-list__index__top
    .message-list__index__top--name
      = message.user.name
    .message-list__index__top--date-time
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  .message-list__index__message
    - if message.body.present?
      %p.lower-message__content
        = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
