.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        あつし
      .top-items__icons
        = link_to "#", class: " top-items__btn" do
          = icon('fas', 'edit', class: " top-items__btn--edit")
          = icon('fas', 'cog', class: " top-items__btn--cog")

  .side-bar__group-list
    .group-list__index
      .group-list__index--name
        ABCグループ
      .group-list__index--member
        さしすせそ

    .group-list__index
      .group-list__index--name
        EFGグループ
      .group-list__index--member
        まだメッセージがありません
        
    .group-list__index
      .group-list__index--name
        HIJグループ
      .group-list__index--member
        まだメッセージがありません
